body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#bodyLogin {

    background-image: url('../imagenes/fondo.jpg');
    background-size: cover;
    background-position: center;
}

#loginForm {
    display: flex;
    flex-direction: column;
}

#formPerfil {
    display: flex;
    flex-direction: column;
    margin: 20px;
}



#contenedorFormulario {
    border: 1px solid #eee;
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
}

#contenedorBotonNuevo {
    display: flex;
    justify-content: flex-end;
}

#registroForm{
    display: flex;
    flex-direction: column;
}

